.fondoinicio {
    background-image: url(./fondoinicio.jpg);
    size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.logoinicio img {
    border-radius: 5px; 
}

.logoinicio{
    display: flex;
    justify-content: space-around;
    align-self:center;
    margin:0px auto 50px auto;
    padding-top:30px ;
}

.caja {
    margin: 50px auto;
    width:22rem;
    display: flex;
    background-color: #451A11;
    margin-bottom: 50px;
}

.tituloingreso{
    color: #F2DDBA;
    text-shadow: 2px 2px 2px #EC6E21;
    text-align: center;
    margin-bottom: 10px;
}
.usuarioinput input::placeholder {
    color: #221F1f;
    font-size: 1em;
    ;
  }

.dropdowncolor{
    background-color: #F2DDBA;
    height: 45px;
    color:#221F1f;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}

.seleccionado{
    font-size: 16px;
}

.usuarioinput span{
    background-color: #F2DDBA;    
}

.usuarioinput i{
    color: #EC6E21;
    font-size: 25px;
}
.usuarioinput input{
background-color: #F2DDBA;
font-weight: bold;
color: #221F1f;
}
.usuarioinput input:focus{
    background-color: #F2DDBA;
    box-shadow: 0px 0px 0px #F2DDBA;
    border:#F2DDBA
}

.botoningresar button{
    background-color: #EC6E21;
    border:#EC6E21;
    color: #F2DDBA;
    font-weight: bold;
}

.botoningresar:hover button{
    background-color: #73574b;
    color: #F2DDBA;
}

.claseiconociu{
    text-align: left;
}

.botoningresar a{
    background-color: #EC6E21;
    border:#EC6E21;
    color: #F2DDBA;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}
.botoningresar:hover a{
    background-color: #73574b;
    color: #F2DDBA;
}