.backcolo{
    background-color: #f2ddba;
}

.botondrop button{
    margin: auto;
    border:none;      
}
.botondrop button:hover{
    background-color: #f2ddba;
    border: none;
    
}

.botondrop button:focus{
    background-color: #f2ddba;
    border: none;
    outline: none;
}   
.botondrop button:active{
    background-color: #f2ddba;
    outline: none;
}

.fondobodyeditarm{
    background-color: #f2ddba;
}
.dropdowncategoria{
    width: 180px;
    display: flex;
    flex-direction: row;
    background-color: #f2ddba;
    border:none;
   
}

.kebab {
 font-size: 45px;
 color: #b8977e;
 justify-content: space-between;
 margin: 8px auto; 
}

.titulodropcat h1{
    color: #73574b;
    text-shadow:  2px 3px  #ec6e21;
    font-size: 70px; 
}
.opcioneseditar{
    background-color: #f2ddba;
}

.opcioneseditar button:hover{
    background-color:#451A11;
    color:white;
}
.editar{
    background-color: #355D06;
    color: white;
}

.eliminar{
    background-color: #DF421D;
    color: white;
}
 .fondocard{
     background-color: #f2ddba;    
 }

 .kebab2{
    font-size: 40px;
    color: #b8977e;
    justify-content: space-between;
    margin:8px auto;
 }

 .botonproduc{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f2ddba;
    border:5px solid #451A11;
    color: #221F1F;
    justify-content: flex-start;
 }

 .tituloprodu h3{
    font-weight: bold;
    font-size: 24px;
 }

 .botonproducto button:hover{
    background-color: #f2ddba;
    border:5px solid #451A11;
    color: #221F1F;  
}
 
.btnanadirprodu{
    background-color:  #451A11;
    border: 4px solid  #ec6e21;
    color: #f2ddba;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}
