.colortitulotabla{
    background-color: #451A11;
    color: #f2ddba;
}

table th{
    width: 6rem;
}

table{
    margin: 0;
}

.imagentabla{
    width: 60px;
}

#tablaestilos{
    width: 82vw;
}

.fa-pencil-alt{
    color: #355D06;
    
}
.fa-trash-alt{
  color: #DF421D;
}

.fa-eye{
    color:#451A11;
}